.page {
    max-width: 1280px;
    margin: 0 auto;
    font-family: 'Inter', 'Times New Roman', Times, serif;
}

@media screen and (max-width: 1024px) {
    .page {
        min-width: 769px;
        max-width: 1024px;
    }
}

@media screen and (max-width: 790px) {
    .page {
        min-width: 321px;
        max-width: 768px;
    }
}

@media screen and (max-width: 320px) {
    .page {
        min-width: 320px;
    }
}