.cover__subtitle {
    max-width: 360px;
    margin: 0 0 0 -180px;
    padding: 0;
    font-family: 'Inter', 'Times New Roman', Times, serif;
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 429px;
    left: 50%;
}

@media screen and (max-width: 1024px) {
    .cover__subtitle {
        top: 379px;
    }
}

@media screen and (max-width: 790px) {
    .cover__subtitle {
        top: 299px;
    }
}

@media screen and (max-width: 650px) {
    .cover__subtitle {
        top: 149px;
        max-width: 288px;
        font-size: 14px;
        line-height: 16px;
        margin-left: -144px;
    }
}

@media screen and (max-width: 480px) {
    .cover__subtitle {
        top: 119px;
    }
}