.intro__data {
    font-weight: bold;
    font-family: 'Inter', 'Times New Roman', Times, serif;
    font-style: normal;
    font-size: 12px;
    line-height: 18px;
    color: #fff;
    margin: 0;
    padding: 0;
}