.cover {
    margin: 0 auto;
    max-width: 1184px;
    min-height: 740px;
    position: relative;
}

.cover:hover .cover__overlay {
    opacity: .3;
    transition: opacity 2s ease;
}

@media screen and (max-width: 1024px) {
    .cover {
        max-width: 1024px;
        min-height: 640px;
        
    }
}

@media screen and (max-width: 790px) {
    .cover {
        max-width: 768px;
        min-height: 480px;
    }
}

@media screen and (max-width: 650px) {
    .cover {
        max-width: 480px;
        min-height: 300px;
    }
}
@media screen and (max-width: 480px) {
    .cover {
        max-width: 320px;
        min-height: 200px;
    }
}
