.place__link {
    margin: 12px 0 0;
    padding: 0;
    font-family: 'Inter', 'Times New Roman', Times, serif;
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    text-decoration: underline;
    color: #fff;
    width: max-content;
}

.place__link:hover {
    opacity: .8;
    transition: opacity 2s ease;
}