.cover__title {
    font-family: 'Inter', 'Times New Roman', Times, serif;
    font-weight: 900;
    font-style: normal;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 245px;
    max-width: 560px;
    left: 50%;
    margin: 0 0 0 -280px;
    padding: 0;
}

@media screen and (max-width: 1024px) {
    .cover__title {
        top: 195px;
    }
}

@media screen and (max-width: 790px) {
    .cover__title {
        top: 115px;
    }
}

@media screen and (max-width: 650px) {
    .cover__title {
        top: 65px;
        max-width: 288px;
        font-size: 32px;
        line-height: 35px;
        margin-left: -144px;
    }
}

@media screen and (max-width: 480px) {
    .cover__title {
        top: 33px;
        height: 70px;
    }
}