.place {
    display: grid;
    grid-template-areas: "title website"
                         "image paragraph";
    grid-template-columns: 460px 1fr;
    column-gap: 40px;
    row-gap: 48px;
    padding-top: 80px;
}

.place:first-of-type {
    padding-top: 0;
}

@media screen and (max-width: 1024px) {
    .place {
        column-gap: 32px;
        grid-template-columns: 440px 1fr;
    }
}

@media screen and (max-width: 768px) {
    .place {
        column-gap: 28px;
        grid-template-columns: 340px 1fr;
        padding-top: 73px;
    }    
}

@media screen and (max-width: 320px) {
    .place {
        grid-template-areas: "title"
                             "website"
                             "image"
                             "paragraph";
        row-gap: 32px;
        grid-template-columns: 1fr;
        padding-top: 50px;
    }    
} 