.place__website {
    margin: 0;
    grid-area: website;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

@media screen and (max-width: 767px) {
    .place__website {
        margin: 0 16px;
    }    
} 